.home-container {
  display: flex;
  flex: 1;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  flex-direction: column;
  &__posts {
    &__no-post {
      font-style: italic;
      font-size: 12px;
      text-align: center;
    }
  }
}