$white: #ffffff;
$app-text-color: #4C4A49;
$app-universal-color-code: #F5A631;

$login-wrapper-width: 540px;

// Button Colors
$button-bg-custom: #F5A631;

// Input Colors
$input-border-color: #DFDDDD;